<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>{% block title %}TextGenerationDelta{% endblock %}</title>
    <!-- Load Static Files -->
    {% load static %}
    <!-- Load Bootstrap CSS (or your chosen framework) -->
    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">TextGenerationDelta</a>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        <!-- Content from child templates will go here -->
        {% endblock %}
    </div>
    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
</body>
</html>